.buttons{
    display: block !important;
    position: relative !important;
}

label{
    width: 100% !important;
}

.test{
    display: flex;
    flex-direction: row;
}

.screen{
    width: 70vw;
    margin-left: 5%;
}

span{
    padding-left: 10px;
}

.introduction{
    border-bottom: #222222 solid 2px;
    padding-bottom: 20px;
}

.rangeslider-horizontal .rangeslider__fill{
    background-color: #337ab7 !important;
}

.sliderValue{
    margin: auto;
    text-align: center;

}