.buttons{
    display: block !important;
    position: relative !important;
}

label{
    width: 100% !important;
}

.test{
    display: flex;
    flex-direction: row;
}

.screen{
    width: 70vw;
    margin-left: 5%;
}

span{
    padding-left: 10px;
}

.introduction{
    border-bottom: #222222 solid 2px;
    padding-bottom: 20px;
}

.rangeslider-horizontal .rangeslider__fill{
    background-color: #337ab7 !important;
}

.sliderValue{
    margin: auto;
    text-align: center;

}

.slider{
    width: 50%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}